html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: auto;
	padding: 0;
	background: #FFFFFF;
	text-align: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	max-width: 960px;
	background-image:url(../images/background.png);
	background-repeat:repeat-x;
}

*
{
  margin: 0 auto 0 auto;
 text-align:left;}


#header
{
background-image:url(../images/tab.png);
background-repeat:no-repeat;
height:100px;
width:427px;
margin-left:42px;
margin-top:88px;
padding-top:18px;
}

#header .logo
{
height:72px;
width:72px;
background-image:url(../images/logo_your_preferences_final.jpg);
background-repeat:no-repeat;
float:left;
margin-left:23px;
}

#header h1
{
margin-left:15px;
margin-top:10px;
position: relative;
float:left;
color:#FF7A6F;
text-align:left;
font-size:28px;
width:302px;
line-height:normal;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}

#header h2
{
position: relative;
margin-left:10px;
margin-top:2px;
float:left;
color:#208739;
text-align:left;
font-size:14px;
width:311px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}



#bottomContent
{
clear:both;
position:relative;
height:100%;
margin-top:73px;
margin-left:50px;
width:100%;
}

#bottomContent .navColumn
{
right:50px;
position:absolute;
background-repeat:repeat-y;
height:640px;
width:300px;
padding:5px;
border-color:#218D3B;
margin-top:0px;
}


#bottomContent .navColumn .link
{
width:280px;
height:65px;
line-height:65px;
font:Arial, Helvetica, sans-serif;
font-size:20px;
padding-bottom:5px;
background-repeat:no-repeat;
padding-left:50px;
}

#bottomContent .navColumn .link:hover
{
background-repeat:no-repeat;
}

a
{
color:#FF7A6F;
text-decoration:none;
padding:10px;
}

a:hover
{
color:#208739;
text-decoration:none;
border-bottom:dotted 1px;
border:1px solid #FF5A00;
}

.contentMain
{
float:left;
width:60%;
height:638px;
border-color:#218D3B;
margin-top:10px;
background-repeat:repeat-y;
margin-left:10px;
}

.contentMain h1
{
margin-left:21px;
font-size:21px;
line-height:normal;
margin-bottom:10px;
font-weight:bold;
color:#208739;
}

.contentText
{
width:60%;
padding-left:30px;
padding-right:30px;
font-size:13px;
color:#030712;
line-height:30px;
}

li
{
list-style:none;
}

h4
{
color:#777B2B;
font-size:9px;
text-align:center;
}

html, body {
text-align: center;
}
p {
text-align: left;
color:#1E8136;   
}
.footer
{
width: 100%;
height:49px;
text-align:center;
padding-top:16px;
font-size:9px;
clear:both;
float:left;
}
