body {
	margin:auto;
	padding: 0;
	background: #FFFFFF;
	background-image:url(../images/background.jpg);
	height:100%;
	max-width:960px;
	}

*
{
  margin: 0 auto 0 auto;
 text-align:left;}


#header
{
height:200px;
width:100%;
padding-top:18px;
background-image:url(../images/images.jpg);
background-repeat:x;
}

body  img#right_corner
{
float:right;
}

.contentMain
{
float:left;
clear:both;
position:relative;
height:100%;
width:100%;
}
.contentMain .todoList
{
position:relative;
width:60%;
height:100%;
overflow:auto;
float:left;
}

.contentMain .search
{
position:relative;
width:40%;
height:100%;
float:right;
}


#header h1
{
margin-left:15px;
margin-top:10px;
position: relative;
color:#FFBF00;
text-align:center;
font-size:70px;
width:100%;
line-height:normal;
font-weight:bold;
font-family:Palatino Bold Italic;
}
 h2
{
margin-left:15px;
margin-top:10px;
position: relative;
color:#FFBF00;
text-align:center;
font-size:50px;
width:100%;
line-height:normal;
font-weight:bold;
font-family:Palatino Bold Italic;
}

h4
{
margin-left:15px;
margin-top:10px;
position: relative;
color:#6E6E6E;
font-size:40px;
line-height:normal;
font-weight:bold;
font-family:Palatino Bold Italic;
}

li
{
list-style-type:none;
line-height:25px;
word-wrap: break-word;
}

